
/*  ======================= ROPORT UJI COBA ===================================== */

/*  =========================== ============== ====================================== */
table.kop {
	
	border-collapse:collapse;
	color:black;
	width:100%;
	
}


table.kop td{
	
	padding:0px 1px 0px 1px !important;
	height:10px;
}


hr.kop_hr{
	border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, #dadada, #333, #dadada);
    background-image:    -moz-linear-gradient(left, #dadada, #333, #dadada);
    background-image:     -ms-linear-gradient(left, #dadada, #333, #dadada);
    background-image:      -o-linear-gradient(left, #dadada, #333, #dadada);
	margin-top:2px;
}
hr.kop_hr2{
	border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #dadada, #333, #dadada);
    background-image:    -moz-linear-gradient(left, #dadada, #333, #dadada);
    background-image:     -ms-linear-gradient(left, #dadada, #333, #dadada);
    background-image:      -o-linear-gradient(left, #dadada, #333, #dadada);
	margin-top:-12px;
}




table.cetak_report {
	
	border-collapse:collapse;
	border:1px solid black;
	
	
}

table.cetak_report th{
		
		padding:6px 1px 6px 1px;
		border:1px solid black;
		font-weight:bold;
		font-size:8pt;
		background:#e8e7e9;
		
}


table.cetak_report td {
	font:normal 8pt Arial,Sans-Serif;
	padding:5px 3px 5px 3px;
	vertical-align:center;
	border:1px solid black;
	color:#383c43;
}



table.cetak_report td.tengah {
	vertical-align:middle;
	text-align: center;
}







table.sign_report {
	margin:auto;
	page-break-inside: avoid;
	
	}


table.sign_report td {
	font:normal 11pt Arial,Sans-Serif;
	text-align: center;
	color:#383c43;
}


hr.garis_putus { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: dashed;
    border-width: 1px;
} 


hr.garis_putus { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: dashed;
    border-width: 1px;
} 





@font-face {
	font-family: isi;
	src: url('./fonts/ROCK.TTF');
	font-weight: normal;
}

@font-face {
	font-family: isi_2;
	src: url('./fonts/consola.TTF');
	font-weight: normal;
}
